.fieldLabel {
    font-size: x-large;
    font-weight: bold;
}

.fieldValue {
    font-size: large;
    vertical-align: middle;
}

.inputRow {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
}

.timerSwitchButton { 
    flex: 0 0 auto; 
} 

.timerLabel {
    flex: 0 0 auto;
    margin-left: 1em;
}

.audioWalkmanButton {
    flex: 0 0 auto;
    margin-right: 1em;
}

.rightSaveButton, .timerClearButton {
    flex: 0 0 auto;
    margin-left: 1em;
}
