<p-dataView #dv [value]="layouts" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" routerLink="/main/layouts/create"></button>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="listItem">
        <div class="col-12">
            <div class="layout-list-item">
                <div class="layout-list-title">
                    <div class="layout-name">{{item.Name}}</div>
                </div>
                <div class="layout-list-spacer"></div>
                <div class="layout-list-datetime">
                    <div class="layout-datetime">{{item.CreatedDate}}</div>
                    <div class="layout-datetime">{{item.CreatedTime}}</div>
                </div>
                <div class="layout-list-spacer"></div>
                <div class="layout-list-actions">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded action-button" routerLink="/main/layouts/edit" [queryParams]="{layoutId: item.LayoutId}"></button>
                    <!--<button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger action-button"></button>-->
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="gridItem">
        <div class="col-12 md:col-4 xl:col-2">
            <div class="layout-grid-item card">
                <div class="layout-grid-item-content">
                    <div class="layout-name">{{item.Name}}</div>
                    <div class="layout-datetime">{{item.CreatedDate}}</div>
                    <div class="layout-datetime">{{item.CreatedTime}}</div>
                    <div class="layout-grid-actions">
                        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded action-button" routerLink="/main/layouts/edit" [queryParams]="{layoutId: item.LayoutId}"></button>
                        <!--<button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger action-button"></button>-->
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
