<p-dataView #dv [value]="layouts" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
    <ng-template pTemplate="header">
        <div class="flex flex-column md:flex-row md:justify-content-between">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded" routerLink="/layouts/create"></button>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="listItem">
        <app-layout-list-item [item]="item" class="col-12"></app-layout-list-item>
    </ng-template>
    <ng-template let-item pTemplate="gridItem">
        <app-layout-grid-item [item]="item" class="col-12 md:col-4 xl:col-2"></app-layout-grid-item>
    </ng-template>
</p-dataView>
