.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.layout-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.layout-datetime {
    font-size: 1.0rem;
    font-weight: 700;
    text-align: center;
}

.action-button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.layout-grid-item {
    margin: .5em;
    border: 1px solid #3f4b5b;
}

.layout-grid-item-content {
    text-align: center;
}

.layout-grid-actions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
