<div>
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="menutitle">Natural Fa&#231;ade</div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button *ngIf="isAuthOut" label="Register" styleClass="p-button-link" (click)="onRegisterClicked()"></p-button>
      <p-button *ngIf="isAuthOut" label="Login" styleClass="p-button-link" (click)="onLoginClicked()"></p-button>
      <p-button *ngIf="isAuthIn" label="Logout" styleClass="p-button-link" (click)="onLogoutClicked()"></p-button>
    </ng-template>
  </p-menubar>
  
  <div class="mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
