NaturalFacade.ApiLambdas/bin
NaturalFacade.ApiLambdas/obj
NaturalFacade.ApiServices/bin
NaturalFacade.ApiServices/obj
NaturalFacade.Common/bin
NaturalFacade.Common/obj
NaturalFacade.SandboxConsole/bin
NaturalFacade.SandboxConsole/obj
.vs