.backing {
    background-color: black;
    height:100%;
    position:absolute;
    width:100%;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.content {
    margin: 0px;
}
